:root {
    /* colors */
    --p-red: #C60C30;
    --p-blue: #04328c;
    --p-silver: #b0b7bc;
    --c-green: #007A33;
    --c-gold: #ba9653;
    --car-blue: #7bafd4;
    --car-navy: #13294b;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--p-blue);
    color: var(--p-red);
    font-family: Arial, Helvetica, sans-serif;
}

/* header style starts */

header {
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url("../images/boston-skyline.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    color: var(--p-red);
    font-size: 75px;
    font-weight: bold;
    font-family: Calibri;
}

header nav {
    margin: 10px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 20px;
    font-size: 1.3vw;
    font-style: oblique;
    color: var(--p-red);
    font-weight: bold;
}

header nav ul li a:hover {
    background-color: var(--p-blue);
}

/* hero style starts */

.hero {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    background-image: url("../images/boston-skyline.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    margin-bottom: 40px;
  }

.hero .sub h2 {
    color: var(--p-red);
    font-weight: bold;
    font-size: 75px;
    text-align: right;
    margin-top: 100px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
  }

  /* hero style ends */

  section {
      padding: 60px;
  }

  .flex-row {
      display: flex;
  }

  img {
      max-width: 100%;
  }
  /* meet me style start */

  .intro {
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

  .intro img {
    max-height: 300px;
    max-width: 180px;
    padding: 10px;
    border-radius: 50%;
}

  .intro p {
    flex-wrap: wrap;
    line-height: 1.2;
    text-align: left;
    font-size: 2vw;    
}

  /* meet me style end */

  /* projects style starts */

.my-projects {
    margin: 40px;
}

.my-projects, .why-me h2 {
    font-size: 3vw;
    color: var(--p-red);
    text-align: center;
    vertical-align: center;
    border-right: 5px solid var(--p-red);
    padding: 40px;
}

.project-imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.secondary img {
    max-width: 48%;
}

.project-imgs > div {
    flex: 1 0 48%;
    margin: 10px;
}

.project-imgs:first-child {
    flex: 0 1 100%;
}

.primary h3 {
    justify-content: center;
    font-size: 3vw;
    font-weight: bold;
    color: var(--p-red);
}

/* projects style ends */

/* why me style starts */

.why-p {
    font-size: 2vw;
    padding: 10px 40px;
}

/* why me style ends */

/* connect style starts */

.connectors h2 {
    font-size: 2vw;
    color: var(--p-red);
    text-align: center;
    vertical-align: center;
    padding: 40px;
}

.connectors, .flex-row {
    justify-content: space-between;
}