:root {
    /* colors */
    --p-red: #C60C30;
    --p-blue: navy;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--p-blue);
    color: var(--p-red);
    font-family: Arial, Helvetica, sans-serif;
}

/* header style starts */

header {
    color: white;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url("../images/boston-skyline.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-size: 75px;
    font-weight: bold;
    font-family: Calibri;
}

header nav {
    margin: 10px 0;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 20px;
    font-size: 1.3vw;
    font-style: oblique;
    font-weight: bold;
}

header nav ul li a:hover {
    background-color: white;
}

/* hero style starts */

.hero {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    background-image: url("../images/boston-skyline.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    margin-bottom: 40px;
  }

.hero .sub h2 {
    color: white;
    font-weight: bold;
    font-size: 75px;
    text-align: right;
    margin-top: 100px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
  }

  /* hero style ends */

  section {
      padding: 60px;
  }

  .flex-row {
      display: flex;
  }

  img {
      max-width: 100%;
  }

  /* meet me style start */

  .intro {
    justify-content: space-between;
    flex-wrap: nowrap;
    height: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

  .intro img {
    max-height: 300px;
    max-width: 180px;
    padding: 10px;
    border-radius: 50%;
}

  .intro p {
    flex-wrap: wrap;
    line-height: 1.2;
    text-align: left;
    font-size: 40px;  
    margin-left: 20px;  
}

  /* meet me style end */

  /* projects style starts */

.my-projects {
    margin: 40px auto;
    flex-wrap: wrap;
}

.my-projects h2, .why-me h2, .connectors h2 {
    font-size: 3vw;
    color: var(--p-red);
    text-align: center;
    vertical-align: center;
    padding: 40px;
    margin-left: auto;
}

.project-imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-left: 5px solid var(--p-red);
}

.project-imgs > div {
    flex: 1 0 48%;
    padding-left: 40px;
}

.primary:first-child {
    flex: 0 1 100%;
}

.primary a {
    position: relative;
    text-align: center;
}

.primary h3 {
    position: absolute;
    bottom: 8px;
    left: 8px;
    font-size: 2vw;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: rgba(4, 50, 140, 0.75);
}

.secondary a {
    position: relative;
    text-align: center;
}

.secondary h3 {
    position: absolute;
    bottom: 8px;
    left: 8px;
    font-size: 2vw;
    font-weight: bold;
    color: white;
    background-color: rgba(4, 50, 140, 0.75);
}
/* projects style ends */

/* why me style starts */

.why-p {
    font-size: 40px;
    padding: 0 40px 40px 40px;
    border-left: 5px solid var(--p-red);
}

/* why me style ends */

/* connect style starts */

.connectors > div {
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1;
}

.connect-links {
    display: flex;
    border-left: 5px solid var(--p-red);
    flex: 1 0 70%;
    justify-content: space-between;
}

.connectors h3 {
    font-size: 2vw;
    color: var(--p-red);
    text-align: center;
    vertical-align: center;
    padding: 40px;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    section {
        padding: 20px;
    }

    header h1 {
        font-size: 5vw;
    }


    header ul li a {
        font-size: 20px;
    }

    .hero {
        justify-content: center;
        align-items: center;
    }

    .hero sub h2 {
        font-size: 5vw;
        width: 100%;
        text-align: center;
    }

    .intro {
        margin-bottom: 10px;
    }

    .intro img {
        max-width: 100%;
    }

    .my-projects {
        margin-top: 0;
    }

    .my-projects h2, .why-me h2, .connectors h2 {
        width: 100%;
        justify-content: center;
        text-align: center;
    }

  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
      header h1 {
          width: 100%;
          text-align: center;
      }
      
      header nav {
          width: 100%;
          justify-content: space-between;
      }

      header nav ul {
          width: 100%;
          flex: 1;
          justify-content: space-between;
          margin-top: 20px;
      }

      header nav ul li {
          justify-content: space-between;
      }  
      
      header nav ul li a {
          font-size: 20px;
      }

      .hero {
          justify-content: center;
      }

      .hero .sub h2 {
          font-size: 40px;
          text-align: center;
      }

      .intro {
          margin: 10px 0;
          padding: 10px 10px;
          justify-content: center;
          height: auto;
      }

      .intro article div img {
          max-width: 100%;
          flex-shrink: 1;
      }

      .intro p {
        max-width: 100%;
        font-size: 20px;
        padding: 0 40px 20px 40px;
      }
    
      .why-me p {
          font-size: 20px;
      }

      .title {
          width: 100%;
          border-bottom: 5px solid var(--p-red);
      }

      .project-imgs > div {
          padding: 10px;
      }

      .project-imgs, .why-p, .connect-links {
          border: none;
          padding-top: 10px;
      }

      .flex-row {
          flex-wrap: wrap;
          justify-content: center;
      }
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    header nav ul {
        flex-direction: column;
    }

    header nav ul li {
        margin: 10px;
    }

    header nav ul li a {
        font-size: 10vw;
    }

    header h1 {
        font-size: 10vw;
    }

    .intro article div img {
        max-width: 100%;
    }

    .intro p {
        font-size: 7vw;
        margin: 10px;
        text-align: left;
        padding: 40px;
    }

    .project-imgs {
        flex-direction: column;
        max-width: 0 1 100%;
    }

    .primary h3, .secondary h3 {
        font-size: 5vw;
    }

    .title h2 {
        font-size: 10vw;
    }

    .why-me p {
        font-size: 7vw;
    }

    .connect-links {
        flex-direction: column;
        margin: 5px;
        padding: 5px;
    }

    .connect-links h3 {
        font-size: 6vw;
    }
  }